@font-face {
  font-family: "rockabilly";
  src: url('../fonts/Rockabilly.woff2') format('woff2')
  url('../fonts/Rockabilly.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: "hangier";
  src: url('../fonts/HangierRegular.woff2') format('woff2')
  url('../fonts/HangierRegular.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: "lovadelic";
  src: url('../fonts/Lovadelic-Regular.woff2') format('woff2')
  url('../fonts/Lovadelic-Regular.woff') format('woff');
  font-display: fallback;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

.fifties {
  background-color: #819464;
  color: white;
}

.site-header {
  border-top: 40px solid #ecc9cc;
  border-bottom: 55px solid #ecc9cc;
  border-bottom-left-radius: 35%; 
  border-bottom-right-radius: 100%;
  background-color: #ecc9cc;
  text-align: center;
}

.fifties img {
  width: 100px;
  align-items: center;
  margin: 0;
}

.fifties nav {
  color: #819464;
  text-decoration: none;
}

.logo {
  margin: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding-bottom: 55px;
}

.fifties h1 {
  font-family: "rockabilly";
  font-size: 80px;
  color: #ecc9cc;
  text-align: center;
}