@font-face {
  font-family: "rockabilly";
  src: url('../fonts/Rockabilly.woff2') format('woff2')
  url('../fonts/Rockabilly.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: "hangier";
  src: url('../fonts/HangierRegular.woff2') format('woff2')
  url('../fonts/HangierRegular.woff') format('woff');
  font-display: fallback;
}

/* @font-face {
  font-family: "anthela";
  src: url('../font/Anthela.woff2') format('woff2')
  url('../font/Anthela.woff') format('woff');
  font-display: fallback;
} */
/* 
@font-face {
  font-family: "margindemo";
  src: url('../fonts/MarginDEMO.woff2') format('woff2')
  url('../fonts/MarginDEMO.woff') format('woff');
  font-display: fallback;
} */
/* @font-face {
  font-family: "lovadelic";
  src: url('../fonts/Lovadelic-Regular.woff2') format('woff2')
  url('../fonts/Lovadelic-Regular.woff') format('woff');
  font-display: fallback;
} */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
  color: white;
}

.fifties {
  background-color: #819464;
}

.sixties {
  background-color: #462e1e;
}

.seventies {
  background-color: #6c1d55;
}

.homepage {
  background-color: #8d8079;
}

.logo {
  padding-left: 70px;
  padding-right: 70px;
}

.site-header {
  border-bottom-left-radius: 35%; 
  border-bottom-right-radius: 100%;
}

.fifties .site-header {
  background-color: #ecc9cc;
  border-top: 40px solid #ecc9cc;
  border-bottom: 55px solid #ecc9cc;
}

.sixties .site-header {
  background-color: #bfa899;
  border-top: 40px solid #bfa899;
  border-bottom: 55px solid #bfa899;
}

.seventies .site-header {
  background-color: #dfa579;
  border-top: 40px solid #dfa579;
  border-bottom: 55px solid #dfa579;
}

.homepage header {
  background-image: url(../img/main_header.svg);
  background-size: 380px;
  padding-bottom: 32px;
}

img {
  width: 80px;
}

nav {
  font-family: "comfortaa";
  font-size: 18px;
  text-decoration: none;
}

.fifties nav {
  color: #819464;
}

.sixties nav {
  color: #462e1e;
}

.seventies nav {
  color: #6c1d55;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding-bottom: 55px;
}

.homepage header a {
  background-color: #8d8079;
  color: white;
  font-family: "comfortaa";
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  padding: 4px 12px;
  margin-bottom: 8px;
  margin-top: 0;
}

h1 {
  font-size: 80px;
}

.fifties h1 {
  color: #ecc9cc;
  font-family: "rockabilly";
}

.sixties h1 {
  color: #83583b;
  font-family: "hangier";
}

.seventies h1 {
  color: #c16920;
  font-family: 'Yesteryear', cursive;
}

.homepage h1 {
  padding-top: 100px;
  margin: 0;
}

.main-packaging {
  width: 275px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fifties .main-packaging {
  filter: drop-shadow(20px 0 0 #ecc9cc);
}

.sixties .main-packaging {
  filter: drop-shadow(20px 0 0 #83583b);
}

.seventies .main-packaging {
  filter: drop-shadow(20px 0 0 #c16920);
}

.homepage h2 {
  font-family: "comfortaa";
  font-weight: 100;
  font-size: 36px;
  margin: 0;
  margin-top: 60px;
}

.homepage .visit-page {
  width: 230px;
  filter: drop-shadow(15px 0 0 #ffffff);
  padding-bottom: 8px;
  padding-top: 60px;
}

.homepage main a {
  color: #ffffff;
  font-family: "comfortaa";
  font-size: 18px;
  border-radius: 15px;
  border: 0;
  margin-bottom: 100px;
  padding: 4px 12px;
  margin-bottom: 8px;
  margin-top: 0;
}

.homepage .fifties-page {
background-color: #819464;
font-family: "rockabilly";
}

.homepage .sixties-page {
  background-color: #462e1e;
  font-family: "hangier";
}

.homepage .seventies-page {
  background-color: #6c1d55;
  font-family: 'Yesteryear', cursive;
}

.contact img {
  width: 32px;
}

.about-us {
  font-family: "comfortaa";
  background-size: 380px;
}

.fifties .about-us {
  background-image: url(../img/50/50_motifs.svg);
}

.sixties .about-us {
  background-image: url(../img/60/60_motifs.svg);
}

.seventies .about-us {
  background-image: url(../img/70/70_motifs.svg);
}

.contact {
  font-family: "comfortaa";
  border-top-left-radius: 65%; 
  border-top-right-radius: 35%;
}

.fifties .contact {
  border-bottom: 32px solid #ecc9cc;
  border-top: 55px solid #ecc9cc;
  background-color: #ecc9cc;
}

.sixties .contact {
  border-bottom: 32px solid #bfa899;
  border-top: 55px solid #bfa899;
  background-color: #bfa899;
}

.seventies .contact {
  border-bottom: 32px solid #dfa579;
  border-top: 55px solid #dfa579;
  background-color: #dfa579;
}

.homepage .contact {
  border-bottom: 32px solid #ffffff;
  border-top: 55px solid #ffffff;
  background-color: #ffffff;
}

.about-us h2 {
  margin-bottom: 60px;
  margin-top: 0;
  font-size: 36px;
  font-weight: 100;
  margin-top: 100px;
}

.about-us ul {
  margin-bottom: 120px;
  font-size: 18px;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 2em;
}

.contact img {
  margin-bottom: 60px;
}

.contact h2 {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 100;
}

.fifties .contact h2 {
  color: #819464;
}

.sixties .contact h2 {
  color: #462e1e;
}

.seventies .contact h2 {
  color: #6c1d55;
}

.homepage .contact h2 {
  color: #8d8079;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact p {
  margin: 0;
  font-size: 10px;
}

.fifties .contact p {
  color: #819464;
}

.sixties .contact p {
  color: #462e1e;
}

.seventies .contact p {
  color: #6c1d55;
}

.homepage .contact p {
  color: #8d8079;
}

.fifties .logo {
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.buy {
  color: white;
  font-family: "comfortaa";
  font-size: 18px;
  border-radius: 15px;
  border: 0;
  padding: 4px 12px;
  margin-bottom: 8px;
  margin-top: 0;
}

.fifties .buy {
  background-color: #ecc9cc;
}

.sixties .buy {
  background-color: #83583b;
}

.seventies .buy {
  background-color: #c16920;
}

.seventies .logo {
  width: 100px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contact-logo {
  max-width: 32px;
}

.dance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 100px;
}

.packaging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 38px;
  margin-right: 38px;
}

.citation {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
  text-align: justify;
  padding-left: 45px;
  padding-right: 45px;
}

.fifties .citation {
  font-family: "rockabilly";
  color: #ecc9cc;
}

.sixties .citation {
  font-family: "hangier";
  color: #83583b;
}

.sixties .logo {
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.seventies .citation {
  font-family: 'Yesteryear', cursive;
  color: #c16920;
}

.signature {
  text-align: right;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 18px;
  margin-bottom: 8px;
  padding-left: 45px;
  padding-right: 45px;
}

.fifties .signature {
  font-family: "rockabilly";
  color: #ecc9cc;
}

.sixties .signature {
  font-family: "hangier";
  color: #83583b;
}

.seventies .signature {
  font-family: 'Yesteryear', cursive;
  color: #c16920;
}

.youtube {
  max-width: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
}

.homepage .edition-shops .edition {
  padding-top: 60px;
  margin-bottom: 20px;
}

.homepage .edition-shops .shops {
  margin-top: 60px;
  margin-bottom: 20px;
}

.homepage ul {
  font-size: 18px;
  text-align: justify;
  padding-left: 60px;
  line-height: 2em;
  color: #ffffff;
  font-family: "comfortaa";
}

.homepage .edition-shops ul {
  margin-bottom: 100px;
}

.homepage .edition-shops {
  background-image: url(../img/main_motifs.svg);
  background-size: 380px;
}

.other-products img {
  width: 80px;
}

.other-products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 100px;
  filter: drop-shadow(8px 0 0 #ffffff);
}

.other-products a {
  padding-bottom: 0;
}

h2 {
  font-family: "comfortaa";
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 60px;
}

.homepage .logo {
  width: 100px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.discover {
  padding-bottom: 0;
}
