@font-face {
    font-family: 'Margin DEMO';
    src: url('MarginDEMO.woff2') format('woff2'),
        url('MarginDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

